<!DOCTYPE html>
<html>
<head>
    <title>SentimentTracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                SentimentTracker {{ chart_type }}
            </div>
            <div class="card-body">
                <a class="btn btn-primary" href="/chart/hour">Hourly Chart</a>
                <a class="btn btn-primary" href="/chart/day">Daily Chart</a>
                <hr />
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p>Reference links:</p>
                <ul class="list-unstyled">
                    <li><a href="https://coinmarketcap.com/currencies/bitcoin/" target="_blank">Bitcoin on CoinMarketCap</a></li>
                    <li><a href="https://vn.investing.com/indices/us-30" target="_blank">US 30 on Investing.com</a></li>
                </ul>
                <p>Owner contact information: hoangchfx20825@funix.edu.vn</p>
            </div>
        </div>
    </div>

    <script>
        // Retrieve the chart data passed from the server
        var chartData = {{ chart_data | tojson }};
        var timeFormats = {{ time_formats | tojson }};
        var defaultSubreddits = {{ default_subreddit | tojson }};

        // Prepare the datasets for the chart
        var datasets = [];
        var colors = {}; // Mapping of subreddit to color

        for (var subreddit in chartData) {
            var color = getRandomColor(); // Generate a random color
            colors[subreddit] = color;

            var isVisible = defaultSubreddits.includes(subreddit); // Check if the subreddit is in the default list

            datasets.push({
                label: subreddit,
                data: chartData[subreddit].map(function(dataPoint) {
                    return {
                        x: moment.unix(dataPoint.timestamp).toDate(),
                        y: dataPoint.sum_sentiment_score
                    };
                }),
                fill: false,
                backgroundColor: color,
                borderColor: color,
                hidden: !isVisible // Hide the dataset if it's not in the default list
            });
        }

        // Create the chart using Chart.js
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: datasets
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        type: 'time',
                        time: timeFormats,
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 20
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Sum Sentiment Score'
                        }
                    }
                }
            }
        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';

            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }

            return color;
        }

        // Add click event listener to the chart canvas
        document.getElementById('myChart').onclick = function (evt) {
            var activePoints = chart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);

            if (activePoints.length > 0) {
                var firstPoint = activePoints[0];
                var datasetIndex = firstPoint.datasetIndex;
                var index = firstPoint.index;

                // Retrieve the dataset and data point
                var dataset = chart.data.datasets[datasetIndex];
                var dataPoint = dataset.data[index];

                // Retrieve the chart_type and timestamp
                var chartType = '{{ chart_type }}';
                var subreddit = dataset.label;
                var timestamp = moment(dataPoint.x) / 1000;

                // Make the request
                var url = '/details?type=' + chartType + '&subreddit=' + subreddit + '&timestamp=' + timestamp;
                window.location.href = url;
            }
        };
    </script>
</body>
</html>
