<!DOCTYPE html>
<html>
<head>
    <title>SentimentTracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
    <script src="https://s3.tradingview.com/tv.js"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Aggregate Sentiment Scores for Subreddits by {{ chart_type }}
            </div>
            <div class="card-body">
                <a class="btn btn-light text-dark" href="/chart/hour">Hourly Chart</a>
                <a class="btn btn-light text-dark" href="/chart/day">Daily Chart</a>
                <hr />
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                        <br />
                        <div id="clickPrompt" class="text-muted p-2">
                            The sentiment score reflects the overall positivity of users' posts. Higher scores indicate a more positive sentiment expressed by users. <br />
                            Click on a data point to see details
                        </div>
                    </div>
                </div>
                <hr />
                <button onclick="toggleVisibility('nasdaqChart')" class="btn btn-light text-dark btn-sm">Toggle NASDAQ Chart</button>
                <br />
                <div id="nasdaqChart" class="tradingview-widget-container" style="display: none">
                  <div id="tradingview_eb146" style="height: 480px"></div>
                  <hr />
                </div>
                <button onclick="toggleVisibility('btcChart')" class="btn btn-light text-dark btn-sm">Toggle BTC Chart</button>
                <br />
                <div id="btcChart" class="tradingview-widget-container" style="display: none">
                  <div id="tradingview_db611" style="height: 480px"></div>
                </div>
            </div>
            <div class="card-footer">
                <p>Reference links:</p>
                <ul class="list-unstyled">
                    <li><a href="https://coinmarketcap.com/currencies/bitcoin/" target="_blank">Bitcoin on CoinMarketCap</a></li>
                    <li><a href="https://vn.investing.com/indices/us-30" target="_blank">US 30 on Investing.com</a></li>
                </ul>
                <p>
                    Owner contact information:
                    <a href="https://github.com/cuhuuhoang/reddit-analyzer" target="_blank">
                        <img src="https://img.shields.io/badge/GitHub-Reddit%20Analyzer-brightgreen?logo=github" alt="GitHub Repository">
                    </a>
                </p>
            </div>
        </div>
    </div>

    <script>
        // Retrieve the chart data passed from the server
        var chartData = {{ chart_data | tojson }};
        var timeFormats = {{ time_formats | tojson }};
        var defaultSubreddits = {{ default_subreddit | tojson }};
        var chartType = '{{ chart_type }}';
        var interval = chartType === 'hour' ? 'H' : 'D';

        // Prepare the datasets for the chart
        var datasets = [];
        var colors = {}; // Mapping of subreddit to color

        for (var subreddit in chartData) {
            var color = getRandomColor(); // Generate a random color
            colors[subreddit] = color;

            var isVisible = defaultSubreddits.includes(subreddit); // Check if the subreddit is in the default list

            datasets.push({
                label: subreddit,
                data: chartData[subreddit].map(function(dataPoint) {
                    return {
                        x: moment.unix(dataPoint.timestamp).toDate(),
                        y: dataPoint.sum_sentiment_score
                    };
                }),
                fill: false,
                backgroundColor: color,
                borderColor: color,
                hidden: !isVisible // Hide the dataset if it's not in the default list
            });
        }

        // Create the chart using Chart.js
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: datasets
            },
            options: {
                responsive: true,
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                var dataset = context.dataset;
                                var index = context.dataIndex;
                                var tooltipValue = chartData[dataset.label][index].tooltip;
                                return dataset.label + ": " + tooltipValue;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: timeFormats,
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 20
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Sum Sentiment Score'
                        }
                    }
                }
            }
        });


        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';

            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }

            return color;
        }

        // Add click event listener to the chart canvas
        document.getElementById('myChart').onclick = function (evt) {
            var activePoints = chart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);

            if (activePoints.length > 0) {
                var firstPoint = activePoints[0];
                var datasetIndex = firstPoint.datasetIndex;
                var index = firstPoint.index;

                // Retrieve the dataset and data point
                var dataset = chart.data.datasets[datasetIndex];
                var dataPoint = dataset.data[index];

                // Retrieve the chart_type and timestamp
                var chartType = '{{ chart_type }}';
                var subreddit = dataset.label;
                var timestamp = moment(dataPoint.x) / 1000;

                // Make the request
                var url = '/details?type=' + chartType + '&subreddit=' + subreddit + '&timestamp=' + timestamp;
                window.location.href = url;
            }
        };

        // Chart
        new TradingView.widget(
              {
              "autosize": true,
              "symbol": "SKILLING:NASDAQ",
              "interval": interval,
              "timezone": "Asia/Ho_Chi_Minh",
              "theme": "light",
              "style": "2",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "allow_symbol_change": true,
              "container_id": "tradingview_eb146"
            }
          );

        new TradingView.widget(
            {
              "autosize": true,
              "symbol": "BINANCE:BTCUSD",
              "interval": interval,
              "timezone": "Asia/Ho_Chi_Minh",
              "theme": "light",
              "style": "2",
              "locale": "en",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "allow_symbol_change": true,
              "container_id": "tradingview_db611"
            }
          );

        function toggleVisibility(id) {
            var element = document.getElementById(id);
            if (element.style.display === "none") {
                element.style.display = "block";
            } else {
                element.style.display = "none";
            }
        }
    </script>
</body>
</html>
