<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .positive {
            color: green;
        }

        .negative {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                {{ title }}
            </div>
            <div class="card-body">
                <a class="btn btn-light text-dark" href="/chart/hour">Hourly Chart</a>
                <a class="btn btn-light text-dark" href="/chart/day">Daily Chart</a>
                <hr />
                <table id="detailsTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th data-toggle="tooltip" data-placement="top" title="The creation date of the post">Created</th>
                            <th data-toggle="tooltip" data-placement="top" title="The URL of the post">URL</th>
                            <th data-toggle="tooltip" data-placement="top" title="The absolute sentiment of the post. Computed as sentiment_value * log(score).">
                                Abs Sentiment
                            </th>
                            <th data-toggle="tooltip" data-placement="top" title="The length of the text in the post">Selftext Length</th>
                            <th data-toggle="tooltip" data-placement="top" title="The upvote ratio of the post">Upvote Ratio</th>
                            <th data-toggle="tooltip" data-placement="top" title="The score of the post. Calculated as the amount of upvotes minus downvotes">Score</th>
                            <th data-toggle="tooltip" data-placement="top" title="The number of comments on the post">Num Comments</th>
                            <th data-toggle="tooltip" data-placement="top" title="The sentiment value of the post. Indicates whether the user is positive or negative in their post content">Sentiment Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in result %}
                        <tr>
                            <td style="white-space: nowrap;">{{ item.created }}</td>
                            <td><a href="{{ item.url }}" target="_blank">{{ item.slug }}</a></td>
                            <td class="{{ 'positive' if item.effect == 'positive' else 'negative' }}">{{ item.abs_sentiment }}</td>
                            <td>{{ item.selftext_length }}</td>
                            <td>{{ item.upvote_ratio }}</td>
                            <td>{{ item.score }}</td>
                            <td>{{ item.num_comments }}</td>
                            <td>{{ item.sentiment_value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="clickPrompt" class="text-muted p-2">
                    The <code>Abs sentiment</code> is displayed in green if the value is positive, and red if it is negative. <br/>
                    Please hover over the table headers for an explanation of each field.
                </div>
            </div>
            <div class="card-footer">
                <p>
                    Owner contact information:
                    <a href="https://github.com/cuhuuhoang/reddit-analyzer" target="_blank">
                        <img src="https://img.shields.io/badge/GitHub-Reddit%20Analyzer-brightgreen?logo=github" alt="GitHub Repository">
                    </a>
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#detailsTable').DataTable({
                "order": [[2, "desc"]], // Sort by Abs Sentiment column in descending order
            });
        });
    </script>
</body>
</html>
